<section class="form-container">
  <mat-card>

    <p class="form-title">Issue</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field class="form-field">
        <input matInput placeholder="Title*" formControlName="title">
        <mat-error *ngIf="form.get('title').hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-select placeholder="State*" formControlName="state">
          <mat-option *ngFor="let issue of issueStates, let i = index"
                      [disabled]="isEdit && stateIndex > i"
                      [value]="issue">{{issue}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-buttons-container">
        <button type="button" mat-raised-button color="basic" [routerLink]="'/'">Cancel</button>
        <button type="submit" mat-raised-button color="primary" class="form-submit">Save</button>
      </div>

    </form>
  </mat-card>
</section>