<form [formGroup]="form" novalidate>

    <div class="issue-container">

      <p class="text-field">
        {{model.title}}
      </p>
      <p class="text-field textarea">
        {{model.description}}
      </p>

      <mat-form-field class="select-field">
        <mat-select placeholder="State" formControlName="state" (selectionChange)="onSubmit()" [(ngModel)]="model.state">
          <mat-option *ngFor="let issue of issueStates, let i = index"
                      [disabled]="stateIndex > i"
                      [value]="issue">{{issue}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

</form>